/* .color-nav{
    background-color: rgb(15, 1, 1);
} */
/* Nav.Item {
  margin: 40rem;
} */

body {
  font-family: 'Raleway' !important;
  margin: 0;
  color: blanchedalmond;
  /* <canvas ref="canvas" width={640} height={425} /> */
  /* <img ref="image" src={cheese} className="hidden" /> */
}

.Card.Body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.audioControlBackground {
  background-image: url(./Components/Images/background1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  align-self: center;
  /* top: 40px;
  left: 20vw; */
  height: calc(60vh);
  width: 50vw;
}

/* .display {
  /* margin-left: 20px;
  margin-right: 130px; 
} */

/* .nav-buttons{
    background-color: black;
    justify-items: "right";
} */

.Frontscr {
  background-image: url(./Components/Images/front_image1.png);
  /* background-color: rgb(16, 17, 17); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.Abountscr {
  /* background-color:transparent !important; */
  color: blanchedalmond;
}

.card {
  /* top: 20px;
  right: 150px; */
  /* border: 'solid'; */
  /* top: 20px;
  right: 150px; */
  color: white;
  /* background-color: transparent !important; */
  background-color: rgba(55, 86, 165, 0.2) !important;
  height: 70vh;
}

.nav {
  /* display: flex;
  justify-content: flex-end; */
  margin-left: 20px;
  margin-right: 350px;
}

.input {
  /* border: 'solid'; */
  color: rgb(66, 33, 33);
  /* background-color:transparent !important; */
  background-color: rgba(143, 53, 53, 0.446) !important;
}

.visualizer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.iconWrapper {
  align-self: center;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -270px;
  position: relative;
  z-index: 10;
}
.iconWrapper img {
  position: static;
}
canvas {
  position: static;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  z-index: 1;
}
.canvasWrapper {
  display: flex;
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: -100px;
}

.buttonWrapper {
  position: relative;
  z-index: 11;
}
