  

body {

  font-family: 'Raleway'  !important;
  margin: 0;
          /* <canvas ref="canvas" width={640} height={425} /> */
         /* <img ref="image" src={cheese} className="hidden" /> */


}

/* .Frontscr {

        background-image: url(./Components/Images/front_image1.png) !important;
} */


